<header class="masthead">
  <nav class="language-nav">
    <ul>
      <a href="http://www.w3schools.com/css">CSS</a>
      <a href="http://www.w3schools.com/js/">Javascript</a>
      <a href="http://www.w3schools.com/html/">HTML</a>
      <a href="https://www.ruby-lang.org/en/">Ruby</a>
    </ul>
  </nav>
  <img src="assets/AA_Times_Logo.png" alt="AATimes" class="logo">

  <nav class="masthead-links">
    <ul class="masthead-links">
      <li>
        <time>Tuesday, February 28, 2017</time>
      </li>
      <li>
        <i class="fa fa-newspaper-o"></i>
        <a href="#">Today’s Paper</a>
      </li>
      <li>
        <i class="fa fa-video-camera"></i>
        <a href="#">Video</a>
      </li>
      <li>
        <button>77°F</button>
      </li>
      <li>
          <button>AAO
            <strong>+100%</strong>
          </button>
      </li>
    </ul>
  </nav>

</header>
